{% extends 'base.html' %}
{% block title %}Home - MySite{% endblock %}

{% block content %}
<div class="text-center">
  <div class="glass p-4 p-md-5 shadow-sm">
    <h1 class="display-4 fw-bold mb-3 text-body-emphasis">Hybrid Deep Learning Framework for Automated Lung Cancer Diagnosis</h1>
    <p class="lead mb-0 text-body-secondary">An advanced hybrid deep learning model combining CNNs and Vision Transformers is proposed for early lung cancer detection using CT scans. By integrating InceptionNeXt blocks with grid and block attention mechanisms, the model effectively captures both fine and large-scale features, enabling accurate classification of lung nodules and cancer subtypes. Trained on public datasets, the model achieves up to 99.54% accuracy while remaining lightweight and efficient, making it a promising solution for improved clinical diagnosis.
      </p>
  </div>
</div>
{% endblock %}
